@import "tailwindcss";

/* Base */

html {
  overflow-y: scroll;
}

body {
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: "Epilogue", sans-serif;
  overflow-y: overlay;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.page-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.page-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.page-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(221, 221, 204, 0.3);
  border-radius: 3px;
}

.page-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(221, 221, 204, 0.6);
}
